#!/usr/bin/env bash
set -euo pipefail

PATH_add node_modules/.bin
PATH_add ./bin

export POSTGRES_PORT=23532
export POSTGRES_DATABASE=sponsor_transaction
export POSTGRES_USER=alexgo
export POSTGRES_PASSWORD=FYvAsE72XtjbYSt8
export POSTGRES_DATA_VOLUME=pgdata

export HASURA_VERSION=v2.35.1
export HASURA_PORT=23580
export HASURA_ADMIN_SECRET=$POSTGRES_PASSWORD

export STACKS_NETWORK_TYPE="mocknet"
export STACKS_API_URL="https://stacks-node-api.alexgo.dev"
export DEPLOYER_ACCOUNT_ADDRESS="ST1J2JTYXGRMZYNKE40GM87ZCACSPSSEEQVSNB7DC"
export NOOP_STX_RECEIVER="ST1J2JTYXGRMZYNKE40GM87ZCACSPSSEEQVSNB7DC"
export SPONSOR_ACCOUNT_ADDRESS="SP281DQAHMC4ECR16EA5RN8NJ1E7BE49Q376X4QA3"
export SPONSOR_ACCOUNT_SECRETKEY="c2e2d5bed2d548570cd8c8546aafc57e3f3eca01c82999d4050076f6680beef301"

if [ -f "$PWD/.envrc.local" ]; then
  source_env "$PWD/.envrc.local"
fi
